<!--<h1>Admin::Genres#index</h1>-->
<!--<p>Find me in app/views/admin/genres/index.html.erb</p>-->

<h3>ジャンル一覧・追加</h3>
<%= form_with model: @genre do |f| %>
  <p>ジャンル名</p>
  <%= f.text_field :name %>
  <%= f.submit '新規登録' %>
<% end %>

<h3>ジャンル</h3>
<% @genres.each do |genre| %>
  <%= genre.name %>
<% end %>
