<h1>管理者側Topページ</h1>

<%#= @order.customer.last_name %>
<%#= @order.customer.first_name %>さんの注文履歴

<%# @orders.each do |order| %>
  <p>購入日時</p>
  <%#= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
  <p>購入者</p>
  <%#= order.customer.last_name %><%#= order.customer.first_name %>
  <p>注文個数</p>
  <%#= order.order_detail.amount %>
  <p>注文ステータス</p>
<%# end %>