<p>ジャンル検索</p>
<% @genres.each do |genre| %>
  <%#= link_to admin_item_path(item.id) do %>
    <%= genre.name %></br>
  <%# end %>
<% end %>

<h2>商品一覧</h2>
<% @items.each do |item| %>
  <%= image_tag item.get_merch_image(200, 200) %>
  <%= item.name %>
  <%= item.price %>
<% end %>
